#BackgroundScene{
	width: 980px;    
	height: 560px;
	margin:0;
	padding:0;
	overflow: hidden;
	background-image: url(/DDR-Project1/images/club\ background.jpg);
	background-size: contain;
}

#arrdown{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/DDR-Project/images/arrdown.jpg);
    background-size: contain;
    position: absolute
}

#arrup{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/DDR-Project/images/arrdown.jpg);
    background-size: contain;
    position: absolute
}

#arrleft{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/DDR-Project/images/arrdown.jpg);
    background-size: contain;
    position: absolute
}

#arrright{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(/DDR-Project/images/arrdown.jpg);
    background-size: contain;
    position: absolute
}