#BackgroundScene{
	width: 1080px;    
	height: 600px;
	margin:0;
	padding:0;
    background-image: url('./images/clubbackground.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    text-align: center;
}

#SDownArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/arrdown.png');
    background-size: contain;
    position: absolute;
    left: 366px;
    height: 100px;
    width: 100px;
    opacity: 80%;
}

#SUpArrow{
    width: 100px;
    height: 100px;
    left: 549px;
    margin: 0;
    padding: 0;
	background-image: url('./images/arrup.png');

    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#SLeftArrow{
    width: 100px;
    height: 100px;
    left: 183px;
    margin: 0;
    padding: 0;
	background-image: url('./images/arrleft.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#SRightArrow{
    width: 100px;
    height: 100px;
    left: 732px;
    margin: 0;
    padding: 0;
	background-image: url('./images/arrright.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

.btnStyle {
	border-radius: 4px;
	border: medium solid #000000;
	background-color:rgb(92, 250, 246);
	font-family: "Arial", Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size:20px;
    color: #ffffff;
	padding: 5px 30px;
	margin:8px 70px;
}

#StartBtn{
    position: initial;
    text-shadow: 2px 2px 4px black;
}

#StopBtn{
    position: fixed;
    left: -50px;
    border-radius: 2px;
	border: medium solid #000000;
	background-color:rgb(92, 250, 246);
	font-family: "Arial", Impact, Charcoal, sans-serif;
	font-weight: bold;
	font-size:17px;
    color: #ffffff;
    text-shadow: 2px 2px 4px black;
	padding: 2.5px 15px;
	margin:8px 70px;
}

#DownArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/downinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#UpArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/upinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#LeftArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/leftinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}

#RightArrow{
    margin: 0;
    padding: 0;
	background-image: url('./images/rightinverse.png');
    background-size: contain;
    position: absolute;
    opacity: 80%;
}