#BackgroundScene{
	width: 980px;    
	height: 560px;
	margin:0;
	padding:0;
	/* overflow: hidden; */
	background-image: url('../images/clubbackground.jpg');
    background-size: contain;
    position: relative;
    text-align: center;
}

#DownArrow{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-image: url('../images/arrdown.png');
    background-size: contain;
    position: absolute;
    left: 366px;
    height: 100px;
    width: 100px;
}

#UpArrow{
    width: 100px;
    height: 100px;
    left: 549px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../images/arrup.png');
    background-size: contain;
    position: absolute;
}

#LeftArrow{
    width: 100px;
    height: 100px;
    left: 183px;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-image: url('../images/arrleft.png');
    background-size: contain;
    position: absolute;
}

#RightArrow{
    width: 100px;
    height: 100px;
    left: 732px;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-image: url('../images/arrright.png');
    background-size: contain;
    position: absolute;
}
